In [1]:
#defination
a={1,2,3}
type(a)

set

In [2]:
#empty set
a=set() #not a={} since it is dictionary
a

set()

In [3]:
#no dublicate members...no index support..unordered(based on priority)

a={'a','s',1,2,3,".s"}
a

{'.s', 1, 2, 3, 'a', 's'}

In [6]:
#operations:
   # union
    #intersection
    #difference
    
a={1,2,3,4}
b={4,1}
print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4}
{1}

In [7]:
a.difference(b)

{2, 3}

In [8]:

#relations: 1.joint or disjoint
#subset

a.issubset(b)

False

In [9]:
b.issubset(a)

False

In [12]:
#set is changable datatype

a={1,2,3,4}
b={3,4}
a.isdisjoint(b)

False

In [13]:

a={1,2,3,4}
b={3,4}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
a={1,2,3,4}
b={3,4}
a.update(b) #update for concat

In [17]:
a

{1, 2, 3, 4}

In [18]:
a=set()
n= int(input("enter the no of elements="))

for i in range(n):
    b=int(input("enter the elements of set="))
    a.update({b})
    
print(a)

enter the no of elements=3
enter the elements of set=1
enter the elements of set=2
enter the elements of set=3
{1, 2, 3}

In [29]:
a=set()
n=int(input("enter the no of elements="))

for i in range(n):
     b=int(input("enter the elements of set="))
    
     a.add({b}) #no set inside set {{},{}}
    
    
    
    
    
print(a)

enter the no of elements=2
enter the elements of set=1

TypeError: unhashable type: 'set'

In [30]:
a={(1,2,3),(4,5)}
a

{(1, 2, 3), (4, 5)}

In [31]:
a={(1,2,3),(4,5)}
for i in a:
        print(i)

(4, 5)
(1, 2, 3)

In [32]:
#no serach in set because any serached value will either be not or will always be 1

a={1,2,3,4,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [33]:
a={1,2,3,4,'apple'}
if 'apple' in a:
    print("yes")

yes

In [35]:
a={(1,2,3),(4,5)}
if 1 in a:
    print("yes")
else:
    print("no")

no

In [37]:
#remove
a={(1,2,3),(4,5)}
a.remove((4,5))

In [38]:
a

{(1, 2, 3)}

In [39]:
#remove
a={(1,2,3),(4,5),'apple'}
a.remove('apple')
a

{(1, 2, 3), (4, 5)}

In [40]:
#type conversion

list("apple")

['a', 'p', 'p', 'l', 'e']

In [41]:
tuple('apple')

('a', 'p', 'p', 'l', 'e')

In [42]:
set('apple')

{'a', 'e', 'l', 'p'}

In [43]:
a=[1,2,3,4,5,2,3,4,5,67]
set(a)

{1, 2, 3, 4, 5, 67}

In [44]:
set((3,4,5,6,4))

{3, 4, 5, 6}

In [47]:
set a={'apple','ball','banana'}
a.update(cat)

SyntaxError: invalid syntax (<ipython-input-47-87ea93c86c5d>, line 1)

In [68]:
a={1,2,3,4}

a.update({"cat"}) #update splits the string

In [69]:
a

{1, 2, 3, 4, 'cat'}

In [77]:
a=set()
n=int(input("enter the no of students="))

for i in range(n):
    name=input("enter the name of student=")
    age=int(input("enter the age of student="))
    
    
  
    

print(list(a))

enter the no of students=1
enter the name of student=gchg
enter the age of student=4
['gchg', 4]

In [74]:
a={1,2,3}
list(a)

[1, 2, 3]

In [ ]:
a=set()