In [1]:
#list as an argument

def volume(x):
    l,b,h=x
    print("the volume is =",l*b*h)

x=[4,5,6]
volume(x)

the volume is = 120

In [2]:
#list as an argument

def volume(x):
    l,b,h,_=x #_also is a variable and it stores the value
    print("the volume is =",l*b*h)

x=[4,5,6,7]
volume(x)

the volume is = 120

In [4]:
#remove- related with value
#delete - related with index

a=['apple','cat','dog','apple']
del a[0]
a

['cat', 'dog', 'apple']

In [5]:
a=['apple','cat','dog','apple']
del a[0:3] #delete 0,1 and 2
a

['apple']

In [6]:
a=['apple','cat','dog','apple']
del a[0:4:2] #2 is the skip
a

['cat', 'apple']

In [9]:
a=['apple','cat','dog','apple']
a.remove('cat')
a

['apple', 'dog', 'apple']

In [12]:
a=['apple','apple','cat','dog','apple']
b='apple'

x= a.count('apple')
for i in range(x):
    a.remove(b)

    print(a)

['apple', 'cat', 'dog', 'apple']
['cat', 'dog', 'apple']
['cat', 'dog']

In [14]:
a=['apple','cat','dog','apple']
a[0]='ant'
a

['ant', 'cat', 'dog', 'apple']

In [29]:
a.index('cat') #index return one value at once

0

In [30]:
a=['apple','ball','cat','apple','monkey','apple']
x= input("enter the string to be replaced")
y= input("enter the value for replacing=")
z = a.count('apple')

for i in range(z):
    index=a.index(x)

enter the string to be replacedsds
enter the value for replacing=adsas

3

In [32]:
#list inside list

a=[[],[],[]]
len(a)

3

In [36]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
len(a)
print(a[0])
print(a[0][0])

[1, 2, 3]
1

In [1]:
n=int(input("enter n="))
info=[] # empty list define

for i in range(n):
    name=input("enter the name")
    age=int(input("enter the age"))
    address=input("enter address")
    info.append([i+1,name,age,address])
    
print(info)

enter n=2
enter the namesasda
enter the age12
enter addresssdf
enter the namexdf
enter the age12
enter addresssdfsd
[[1, 'sasda', 12, 'sdf'], [2, 'xdf', 12, 'sdfsd']]

In [44]:
#reading the value
x=int(input("enter roll i.e index"))
print(info[x])

enter roll i.e index0
[0, 'shyam', 45, 'kapan']

In [45]:
n=int(input("enter n="))
info=[] # empty list define

for i in range(n):
 
    info.append([1,2,3,4,5])
    
print(info)

enter n=3
[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [5]:
#result print


    
result=[]  
n = int(input("enter the number of students"))

for i in range(n):
    name=input("enter the name=")
    dsa= int(input("enter the mark of dsa"))
    compiler = int(input("enter the mark of compiler"))
    oop= int(input("enter the mark of oop"))
    total=sum([dsa,compiler,oop])
    per=total/3
  
    
    result.append([name,dsa,compiler,oop,total,per])
    
    
   

print(result)

enter the number of students1
enter the name=ssd
enter the mark of dsa12
enter the mark of compiler12
enter the mark of oop12

TypeError: 'NoneType' object is not callable

#