In [ ]:
# a={<index>:<value>,<index>:<value>}

In [1]:
#dictionary has keys and values

a={"name":"suesha","age":12,"address":"kapan"}
print(a)
type(a)

{'name': 'suesha', 'age': 12, 'address': 'kapan'}

dict

In [6]:
#accessing items

print(a['name'])

suesha

In [3]:
a={} #empty dictionary initialization
a['animal1']="cat"
a['animal2']="dog"
a['animal3']='apple'
a

{'animal1': 'cat', 'animal2': 'dog', 'animal3': 'apple'}

In [5]:
print(a['animal1'])
a['animal3']="monkey"
a

cat

{'animal1': 'cat', 'animal2': 'dog', 'animal3': 'monkey'}

In [11]:
for i in a:
    print(i[0:3])

ani
ani
ani

In [12]:
for i in a.values():
    print(i)

cat
dog
monkey

In [13]:
for i in a.items():
    print(i)

('animal1', 'cat')
('animal2', 'dog')
('animal3', 'monkey')

In [15]:
a={'a':'apple','b':'ball','c':'cat'}

del a['a']
a

{'b': 'ball', 'c': 'cat'}

In [19]:

#pop

a={'a':'apple','b':'ball','c':'cat'}

b=a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': 'cat'}
apple

In [22]:
#clear

a={'a':'apple','b':'ball'}
a.clear()
a

{}

In [5]:
a={1:{'name':'Ram','age':32},
  2:{'name':'Shyam','age':12},
  3:{'name':'Hari','age':22}}

a[4]={'name':'gita','age':32}
a

{1: {'name': 'Ram', 'age': 32},
 2: {'name': 'Shyam', 'age': 12},
 3: {'name': 'Hari', 'age': 22},
 4: {'name': 'gita', 'age': 32}}

In [2]:

#dictionary
a={1:{'name':'Ram','age':32},
  2:{'name':'Shyam','age':12},
  3:{'name':'Hari','age':22}}
a

{1: {'name': 'Ram', 'age': 32},
 2: {'name': 'Shyam', 'age': 12},
 3: {'name': 'Hari', 'age': 22}}

In [6]:
a={1:{'name':'Ram','age':32},
  2:{'name':'Shyam','age':12},
  3:{'name':'Hari','age':22}}

a[1]={'name':'gita','age':32}
a

{1: {'name': 'gita', 'age': 32},
 2: {'name': 'Shyam', 'age': 12},
 3: {'name': 'Hari', 'age': 22}}

In [7]:
a={1:{'name':'Ram','age':32},
  2:{'name':'Shyam','age':12},
  3:{'name':'Hari','age':22}}

a[1]['add']="Nepal"
a

{1: {'name': 'Ram', 'age': 32, 'add': 'Nepal'},
 2: {'name': 'Shyam', 'age': 12},
 3: {'name': 'Hari', 'age': 22}}

In [1]:
a={}
n= int(input("enter the no of rows="))

for i in range(n):
    name=input("enter the name=")
    math=int(input("enter the math="))
    physics=int(input("enter the physics="))
    science= int(input("enter the science="))
    social=int(input("enter the social="))
    chemistry=int(input("enter the chemistry="))
    zoology=int(input("enter the zoology="))
    total=[math,physics,science,social,chemistry,zoology]
    a[i]={'name':name,'math':math,'physics':physics,'chemistry':chemistry,'zoology':zoology,'total':sum(total)}
    
    
print(a)

enter the no of rows=2
enter the name=dsfs
enter the math=2
enter the physics=2
enter the science=2
enter the social=4
enter the chemistry=4
enter the zoology=4
enter the name=dfgdf
enter the math=3
enter the physics=3
enter the science=3
enter the social=3
enter the chemistry=4
enter the zoology=3
{0: {'name': 'dsfs', 'math': 2, 'physics': 2, 'chemistry': 4, 'zoology': 4, 'total': 18}, 1: {'name': 'dfgdf', 'math': 3, 'physics': 3, 'chemistry': 4, 'zoology': 3, 'total': 19}}

In [2]:


#list inside dictionary
a={}
n= int(input("enter the no of rows="))
na=[]
ma=[]
phy=[]

so=[]
che=[]
zoo=[]
tota=[]

for i in range(n):
    name=input("enter the name=")
    math=int(input("enter the math="))
    physics=int(input("enter the physics="))
   
    social=int(input("enter the social="))
    chemistry=int(input("enter the chemistry="))
    zoology=int(input("enter the zoology="))
    total=sum([math,physics,social,chemistry,zoology])
   
    na.append(name)
    ma.append(math)
    phy.append(physics)
  
    so.append(social)
    che.append(chemistry)
    zoo.append(zoology)
    tota.append(total)
    
a={'name':na,'math':ma,'physics':phy,'social':so,'chemistry':che,'zoology':zoo,'total':tota}
    
    
print(a)

enter the no of rows=1
enter the name=dsfsd
enter the math=1
enter the physics=1
enter the social=1
enter the chemistry=1
enter the zoology=1
{'name': ['dsfsd'], 'math': [1], 'physics': [1], 'social': [1], 'chemistry': [1], 'zoology': [1], 'total': [5]}

In [3]:
#in dictionary unchangable data type can only be place on the key side.

a={(1,2,3):'apple'}
a

{(1, 2, 3): 'apple'}