In [1]:
a=(1,2,3,4,5) #no append in tuple ..no delete..no remove
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
a=(1,2,3,4,5) #no replace.... no assigmment
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [5]:
#tuple within tuple
a=((1,2,3),(2,3,4),(4,5,6))
print(type(a))
print(len(a))

<class 'tuple'>
3

In [6]:
#add tuple with tuple

a=()
b=(1,2,3)
a+b

(1, 2, 3)

In [8]:

a=()
b=(1,2,3)
a+(b,)

((1, 2, 3),)

In [10]:

a=()
b=(1,2,3)
c=(4,5,6)
a+(b,)+(c,)

((1, 2, 3), (4, 5, 6))

In [11]:
a=()
for i in range(2):
    name=input("enter the name=")
    age=int(input("enter the age"))
    address=input("enter the address")
    c=(name,age,address)
    a=c+a #tuple elements lai matra add gardiyo
print(a)

enter the name=asdas
enter the age12
enter the addressasdasd
enter the name=adasd
enter the age12
enter the addressasdas
('adasd', 12, 'asdas', 'asdas', 12, 'asdasd')

In [14]:
a=()
for i in range(2):
    name=input("enter the name=")
    age=int(input("enter the age"))
    address=input("enter the address")
    c=(name,age,address)
    a=(c,)+a #() dont make a difference but adding (,)means this is also denoted as tuple
print(a)

enter the name=sdfsd
enter the age12
enter the addresssdfsdf
enter the name=sdsfsd
enter the age13
enter the addressdfsdf
(('sdsfsd', 13, 'dfsdf'), ('sdfsd', 12, 'sdfsdf'))

In [15]:
#list within tuple
x=([1,2,3],[4,5,6])
x

([1, 2, 3], [4, 5, 6])

In [16]:
a=()
for i in range(2):
    name=input("enter the name=")
    age=int(input("enter the age"))
    address=input("enter the address")
    c=[name,age,address]
    a=(c,)+a #() dont make a difference but adding (,)means this is also denoted as tuple
print(a)

enter the name=fdgdf
enter the age12
enter the addresssdfsd
enter the name=sdfsdf
enter the age12
enter the addressdfsd
(['sdfsdf', 12, 'dfsd'], ['fdgdf', 12, 'sdfsd'])

In [18]:
#tuple bhitra ko list ma add garna milyo
x=([1,2,3],[4,5,6])
x[0].append('5')
x

([1, 2, 3, '5'], [4, 5, 6])

In [19]:
#change tuple to list
a=(1,2,3,4)
list(a)

[1, 2, 3, 4]

In [22]:
#change list to tuple
a=(1,2,3,4)

a=list(a)

a.append(6)
tuple(a)

(1, 2, 3, 4, 6)

In [23]:
x=((1,2,3),(3,4,5,6),(4,5,6))
#chnaging it into list inside list

for i in range(len(x)):
    y=x[i]
    print(y)

(1, 2, 3)
(3, 4, 5, 6)
(4, 5, 6)

In [24]:
x=((1,2,3),(3,4,5,6),(4,5,6))
#chnaging it into list inside list

for i in range(len(x)):
    y=list(x[i])
    print(y)

[1, 2, 3]
[3, 4, 5, 6]
[4, 5, 6]

In [30]:
x=((1,2,3),(3,4,5,6),(4,5,6))
#chnaging it into list inside list
z=[]
for i in range(len(x)):
    y=list(x[i])
    
    z.append(y)
print(z)

[[1, 2, 3], [3, 4, 5, 6], [4, 5, 6]]

In [43]:
#marksheet

n=int(input("enter the no of students="))
x=[]
for i in range(n):
    name=input("enter the name=")
    dsa=int(input("enter the marks of dsa="))
    compiler=int(input("enter the marks of compiler="))
    oop=int(input("enter the marks of oop="))
    total=sum([dsa,compiler,oop])
    per=total/3
    x.append([name,dsa,compiler,oop,total,per])
    
print(x)

enter the no of students=2
enter the name=dsdfs
enter the marks of dsa=1
enter the marks of compiler=1
enter the marks of oop=1
enter the name=sdfsdf
enter the marks of dsa=1
enter the marks of compiler=1
enter the marks of oop=1
[['dsdfs', 1, 1, 1, 3, 1.0], ['sdfsdf', 1, 1, 1, 3, 1.0]]

In [46]:
z=()
for i in range(len(x)):
    y=tuple(x[i])
    z=(y,)+z
    
print(z)

(('sdfsdf', 1, 1, 1, 3, 1.0), ('dsdfs', 1, 1, 1, 3, 1.0))

In [ ]:
#marksheet

n=int(input("enter the no of students="))
x=()
for i in range(n):
    name=input("enter the name=")
    dsa=int(input("enter the marks of dsa="))
    compiler=int(input("enter the marks of compiler="))
    oop=int(input("enter the marks of oop="))
    
    x.append([name,dsa,compiler,oop,total,per])
    
print(x)