In [3]:
#list is ordered and changeable...allows dublicate members

a=['apple', 'ball','cat']
print(a)
print(a[0])

['apple', 'ball', 'cat']
apple

In [4]:
#concatination
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [5]:
#dublicate
a=[1,2,3,4,5,2,3,4]
print(a)

[1, 2, 3, 4, 5, 2, 3, 4]

In [6]:
#find length
print(len(a))

8

In [7]:
#empty list
a=[]
b=input("enter any value =")
a+b #should make b a list

enter any value =fsdfsdf

TypeError: can only concatenate list (not "str") to list

In [8]:
a=[]

b=input("enter any value =")
a+[b]

enter any value =sdfsd

['sdfsd']

In [9]:
a=[]
for i in range(3):
    b=input("enter any value =")
    a=a+[b]
print(a)

enter any value =sdfsdf
enter any value =sdfsd
enter any value =sdfsdf
['sdfsdf', 'sdfsd', 'sdfsdf']

In [11]:
a=[]
n=int(input("enter the number of elements="))
for i in range(n):
    b=input("enter any value =")
    a=a+[b]
print(a)

enter the number of elements=4
enter any value =ddsfd
enter any value =sdfsd
enter any value =sfs
enter any value =sdfsd
['ddsfd', 'sdfsd', 'sfs', 'sdfsd']

In [17]:
#value replace

a=['hello','hi','bye']
a[0]='hey'
a

['hey', 'hi', 'bye']

In [12]:
a=['hello','hi','bye']
a*2

['hello', 'hi', 'bye', 'hello', 'hi', 'bye']

In [13]:
a=['hello','hi','bye']
b=['nobye']
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [14]:
a=[]
n=int(input("enter the number of elements="))
for i in range(n):
    b=input("enter any value =")
    a=a+[b]
    print(i,a)

enter the number of elements=2
enter any value =sdfsd
0 ['sdfsd']
enter any value =sdfsd
1 ['sdfsd', 'sdfsd']

In [15]:
sum([1,2,3,4,5])  #function

15

In [16]:
a=[1,2,3,4,5,6]
sum(a)

21

In [17]:
a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=int(input("enter the numbers="))
    a=a+[b]
    
print(sum(a))

enter the no of elements=4
enter the numbers=3
enter the numbers=4
enter the numbers=5
enter the numbers=3
15

In [19]:
a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=int(input("enter the numbers="))
    a=a+[b]
    
print("The sum is",sum(a))
print("The average value is",sum(a)/n)
print("The max value is",max(a))
print("The max value is",min(a))

enter the no of elements=4
enter the numbers=2
enter the numbers=7
enter the numbers=5
enter the numbers=2
The sum is 16
The average value is 4.0
The max value is 7
The max value is 2

In [23]:
#sorting in list...string in alphabetical order

a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=int(input("enter the numbers="))
    a=a+[b]
    
a.sort()
print("the sorted value is",a)

enter the no of elements=3
enter the numbers=4
enter the numbers=5
enter the numbers=2
the sorted value is [2, 4, 5]

In [26]:
a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=input("enter the vale=")
    a=a+[b]
    
a.sort()
print("the sorted value is",a)

enter the no of elements=3
enter the vale=suesha
enter the vale=giri
enter the vale=bista
the sorted value is ['bista', 'giri', 'suesha']

In [28]:
a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=input("enter the vale=")
    a=a+[b]
    
a.sort()
b=a#a.sort()ma a mai gayera update garcha its an operation so
print("the sorted value is",b)

enter the no of elements=3
enter the vale=sfsdfs
enter the vale=ass
enter the vale=dgd
the sorted value is ['ass', 'dgd', 'sfsdfs']

In [29]:
#special characters take the place first and then numeric and alphabetical when they are in the same list
a=['apple','Apple','1.Apple','..zebra']
a.sort()
print(a)

['..zebra', '1.Apple', 'Apple', 'apple']

In [32]:
#loop in list
a=['apple','Apple','1.Apple','..zebra','apple']
for i in a:
    print(i)

apple
Apple
1.Apple
..zebra
apple

In [33]:
#search
if 'apple' in a: 
    print("yes",a.count('apple')) #count will give the numbers of apple
else:
    print("no")

yes 2

In [34]:
if 'cow' in a: 
    print("yes",a.count('apple')) #count will give the numbers of apple
else:
    print("no")

no

In [35]:
a=['apple','Apple','1.Apple','..zebra','apple']
for i in a[0]:
    print(i)

a
p
p
l
e

In [36]:
#accessing elements

a=['apple','Apple','1.Apple','..zebra','apple']
a[0]
a[0][0]

'a'

In [38]:
#append..adds at backside

a=['apple','Apple','1.Apple','..zebra','apple']
a.append('ball')
a

['apple', 'Apple', '1.Apple', '..zebra', 'apple', 'ball']

In [39]:
#insert..adds at any given index
a=[3,4,5,6,7]
a.insert(1,'apple') #a.insert(indexnumber,value)
a

[3, 'apple', 4, 5, 6, 7]

In [40]:
a=[]
n=int(input("enter the no of elements="))
for i in range(n):
    b=int(input("enter the numbers="))
    a.append(b) #instead of a+b #a. garda list ma nai asar parna jancha.
    
print(a)

enter the no of elements=3
enter the numbers=5
enter the numbers=6
enter the numbers=7
[5, 6, 7]

In [44]:
a=[3,4,5,6,7]
a.insert(-1,'apple') 
a # -1 is the last index but second last ma ayo kinaki esle right tira shift gardai lancha

[3, 4, 5, 6, 'apple', 7]